@font-face {
  font-family: "MyFont";
  src: url("../src/components/assets/fonts/SSYoungestDaughterRegular.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "MyFont", "amsterdam", sans-serif;
}
